.landing{
    background-image: url("/images/bg4.jpg");
    height : 100vh;
    background-repeat: no-repeat;
    background-position : center;
    background-size : cover;
    // backdrop-filter: blur(2px);

}