.events-section {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  overflow: visible;
}


.event-card {
  color: inherit;
  // cursor: pointer;
  width: calc(33% - 2rem);
  min-width: calc(33% - 2rem);
  height: 400px;
  min-height: 400px;
  perspective: 1000px;
  margin: 1rem;
  position: relative;
  overflow: visible;
}
@media screen and (max-width: 800px) {
  .event-card {
    width: calc(50% - 2rem);
  }
}
@media screen and (max-width: 500px) {
  .event-card {
    width: 80%;
  }
}

.event-card-front,
.event-card-back {
  display: flex;
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}

.event-card-front {
  background-size: cover;
  padding: 2rem;
  font-size: 1.618rem;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
  font-family: Poppins, sans-serif;
}
.event-card-front:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background: linear-gradient(135deg, #1a9be6, #1a57e6);
  opacity: 0.25;
  z-index: -1;
}
.event-card:hover .event-card-front {
  transform: rotateY(180deg);
}
.event-card:nth-child(even):hover .event-card-front {
  transform: rotateY(-180deg);
}

.event-card-back {
  background: #fff;
  transform: rotateY(-180deg);
  padding: 0 2em;
  display: flex;
  align-items: flex-end;
  background-size: cover;
}
.event-card-back .eventCard-button {
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
  margin-bottom: 2rem;
}
.event-card-back .eventCard-button:before {
  box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
  background-color: rgba(26, 87, 230, 0.25);
}
.event-card:hover .event-card-back {
  transform: rotateY(0deg);
}
.event-card:nth-child(even) .event-card-back {
  transform: rotateY(180deg);
}
.event-card:nth-child(even) .event-card-back .eventCard-button {
  background: linear-gradient(135deg, #e61a80, #e61a3c);
}
.event-card:nth-child(even) .event-card-back .eventCard-button:before {
  box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
  background-color: rgba(230, 26, 60, 0.25);
}
.event-card:nth-child(even):hover .event-card-back {
  transform: rotateY(0deg);
}

.event-question-mark{
  color: #ffffff;
}

.eventCard-button {
  transform: translateZ(40px);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: bold;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 100px;
  font: inherit;
  border: none;
  position: relative;
  transform-style: preserve-3d;
  transition: 300ms ease;
}
.eventCard-button:before {
  transition: 300ms ease;
  position: absolute;
  display: block;
  content: "";
  transform: translateZ(-40px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  border-radius: 100px;
  left: 10px;
  top: 16px;
}
.eventCard-button:hover {
  transform: translateZ(55px);
}
.eventCard-button:hover:before {
  transform: translateZ(-55px);
}
.eventCard-button:active {
  transform: translateZ(20px);
}
.eventCard-button:active:before {
  transform: translateZ(-20px);
  top: 12px;
}

.bounce2 {
  animation: bounce2 2s infinite;
}
@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}