/* @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap'); */

.page_body{
    height : 60vh;
    background-color: white;
}
.page{
    width : 100%;
    background-color:white;
    background: url("/src/assets/images/bg5.jpg");
    height : 50vh;
    position : relative;
    background-size: cover;
;
}

.page_heading{
    width : 100%;
    height : 100px;
    color: white;
    display : flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
    top: 35%;
}

.page h1{
    font-size : 4rem;
    /* font-family: 'Orbitron', sans-serif; */
    padding: 0.6rem 0 1.5rem;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    overflow-y: hidden;
}

@media screen and (max-width: 1080px) {
    .page{
        background-position: center;
        
    }
    .page_heading{
        align-items: center;
        position: absolute;
        top: 40%;
    }
    .page h1{
        font-size : 3rem;
    }
}