.navbar {
    background: rgba(0, 0, 0, 0.504);
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    overflow: hidden; /* Remove scrollbar by ensuring no overflow */
    position: fixed;
    backdrop-filter: blur(4px);
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
    overflow: hidden; /* Ensure no overflow */
    box-sizing: border-box; /* Avoid padding causing overflow */
}

.nav-item {
    height: 10vh;
}

.nav-item:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.3s ease-out;
}

.nav-links {
    color: #fff;
    font-family: 'Genos', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}

/* Mobile responsiveness */
@media screen and (max-width: 960px) {
    .navbar {
        height: 10vh;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 10vh;
        justify-content: flex-start;
        left: -100%;
        opacity: 1;
        transition: all 1s ease-in-out;
    }

    .nav-menu.active {
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 10;
    }
}
