.navbar {
    height: 10vh;
    border: 1px solid black;
    /* position: sticky; */
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: right;


    .navbar_left {
        position: fixed;
        top: 10px;
        left: 30px;
        font-family: 'Bebas Neue', cursive;
        font-size: 50px;
        font-weight: bold;
        height: 100%;
        color: #fff;
        mix-blend-mode: difference;
    }

    .navbar_right {
        ul {
            display: flex;
            justify-content: space-between;
            position: fixed;
            color: white;
            top: 10px;
            right: 30px;
            mix-blend-mode: difference;

            li {

                font-family: 'Bebas Neue', cursive;
                font-size: 50px;
                /* font-weight: bold; */
                height: 100%;
                margin: 0 50px;
            }
        }


    }

}